<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Main</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Index of /uploader<%= filePath %></h2>
    <ul>
      <% if (filePath) { %>
      <li><a href="/uploader<%= backPath %>">./</a></li>
      <% } %> <% locals.folders.map((folder) =>{ %>
      <li>
        <a href="/uploader<%= filePath %>/<%= folder.name %>"
          ><%= folder.name %></a
        >
      </li>
      <% }) %>
    </ul>
    <form action="/uploader" method="POST" enctype="multipart/form-data">
      <input type="file" name="upload" /><br />
      <button type="submit">Upload</button>
    </form>
    <a href="/log-out">Log Out</a>
  </body>
</html>
