<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Index of /uploader<%= filePath %></h2>
    <ul>
      <% if (filePath) { %>
      <li><a href="/uploader<%= backPath %>">Parent Directory</a></li>
      <% } %> <% locals.folders.map((folder) =>{ %>
      <li>
        <a href="/uploader<%= filePath %>/<%= folder.name %>"
          ><%= folder.name %></a
        >
        <form
          action="/uploader<%= filePath %>/<%= folder.name %>?_method=PATCH"
          method="POST"
        >
          <input type="hidden" name="id" value="<%= folder.id %>" /><br />
          <input type="text" name="name" /><br />
          <button type="submit">Update Name</button>
        </form>
        <form
          action="/uploader<%= filePath %>/<%= folder.name %>?_method=DELETE"
          method="POST"
        >
          <input type="hidden" name="delete" value="<%= folder.id %>" /><br />
          <button type="submit">Delete</button>
        </form>
      </li>
      <% }) %>
    </ul>
    <hr />
    <h2>Files:</h2>
    <% locals.files.map((file) =>{ %>
    <p><%= file.name %></p>
    <ul>
      <li><%= file.size %> bytes</li>
      <li><%= file.upload_date %></li>
    </ul>
    <% }) %>
    <hr />
    <form action="/uploader/folder" method="POST">
      <label for="newFolder">New Folder:</label><br />
      <input type="text" id="newFolder" name="name" /><br />
      <button type="submit">Create</button>
    </form>
    <% if (locals.errors) { %>
    <ul>
      <% errors.forEach((error)=>{ %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>
    <hr />
    <form action="/uploader" method="POST" enctype="multipart/form-data">
      <input type="file" name="upload" /><br />
      <button type="submit">Upload</button>
    </form>
    <hr />
    <a href="/log-out">Log Out</a>
  </body>
</html>
